body {
    font-family: sans-serif;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: auto;
    text-align: center;
}

.title {
    font-size: 3rem;
}

td.grn {
  background-color: green;
}
td.red {
  background-color: red;
}
td.blu {
  background-color: blue;
}
